.catalog_page {
  margin-bottom: 146px;

  .wrapper {
    padding: 0 60px;
  }
  &__main {
    gap: 76px;
  }
  &__block {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    gap: 80px;
  }
}